In [1]:
import pandas as pd

# Cleaning datatype: Casting datatypes and handling missing values

In [4]:
na_vals = ['NA','Missing']
df = pd.read_csv("survey_results_public.csv", index_col='Respondent', na_values=na_vals) 
schema_df = pd.read_csv("survey_results_schema.csv", index_col='Column')

### we want to calculate the average number of coding experience

In [5]:
df['YearsCode'].head(10)

Respondent
1     36
2      7
3      4
4      7
5     15
6      6
7      6
8     17
9      6
10     8
Name: YearsCode, dtype: object

### Now finding the mean value

### we will get the error runing this as its an object value

#df['YearsCode'].mean()

In [8]:
df.dtypes

MainBranch                       object
Hobbyist                         object
Age                             float64
Age1stCode                       object
CompFreq                         object
CompTotal                       float64
ConvertedComp                   float64
Country                          object
CurrencyDesc                     object
CurrencySymbol                   object
DatabaseDesireNextYear           object
DatabaseWorkedWith               object
DevType                          object
EdLevel                          object
Employment                       object
Ethnicity                        object
Gender                           object
JobFactors                       object
JobSat                           object
JobSeek                          object
LanguageDesireNextYear           object
LanguageWorkedWith               object
MiscTechDesireNextYear           object
MiscTechWorkedWith               object
NEWCollabToolsDesireNextYear     object
NEWCollabToolsWorkedWith         object
NEWDevOps                        object
NEWDevOpsImpt                    object
NEWEdImpt                        object
NEWJobHunt                       object
NEWJobHuntResearch               object
NEWLearn                         object
NEWOffTopic                      object
NEWOnboardGood                   object
NEWOtherComms                    object
NEWOvertime                      object
NEWPurchaseResearch              object
NEWPurpleLink                    object
NEWSOSites                       object
NEWStuck                         object
OpSys                            object
OrgSize                          object
PlatformDesireNextYear           object
PlatformWorkedWith               object
PurchaseWhat                     object
Sexuality                        object
SOAccount                        object
SOComm                           object
SOPartFreq                       object
SOVisitFreq                      object
SurveyEase                       object
SurveyLength                     object
Trans                            object
UndergradMajor                   object
WebframeDesireNextYear           object
WebframeWorkedWith               object
WelcomeChange                    object
WorkWeekHrs                     float64
YearsCode                        object
YearsCodePro                     object
dtype: object

### Converting YearsCode in float

#### we also cant conert this because it contains less than 1 year

df['YearsCode']=df['YearsCode'].astype(float)

In [10]:
#we are checking the unique values in YearsCode
df['YearsCode'].unique()

array(['36', '7', '4', '15', '6', '17', '8', '10', '35', '5', '37', '19',
       '9', '22', '30', '23', '20', '2', 'Less than 1 year', '3', '13',
       '25', '16', '43', '11', '38', '33', nan, '24', '21', '12', '40',
       '27', '50', '46', '14', '18', '28', '32', '44', '26', '42', '31',
       '34', '29', '1', '39', '41', '45', 'More than 50 years', '47',
       '49', '48'], dtype=object)

In [11]:
# converting less than 1 year into 0
df['YearsCode'].replace('Less than 1 year',0, inplace=True)
df['YearsCode'].replace('More than 50 years',52, inplace=True)

In [12]:
df['YearsCode']=df['YearsCode'].astype(float)

In [14]:
df['YearsCode'].mean()

12.711531793911657

In [15]:
df['YearsCode'].median()

10.0